<!-- INPUT -->
<div class="inputForm">
  <label for="user-name">User name: </label>
  <input id="user-name" [(ngModel)]="userName" placeholder="User name" />
</div>

<!-- OUTPUT -->
<p id="outputMessage">Hello {{ userName | uppercase }} !</p>

<!-- FONT SELECTION -->
<div class="parts">
  <mat-form-field>
    <mat-label>Select a font</mat-label>
    <mat-select
      [(value)]="selectedFont"
      (selectionChange)="changefont(selectedFont)"
      disableOptionCentering
      panelClass="listeDer"
    >
      <mat-option>None</mat-option>
      <mat-option value="Verdana">Verdana</mat-option>
      <mat-option value="Impact">Impact</mat-option>
      <mat-option value="Monospace">Monospace</mat-option>
      <mat-option value="Courier">Courier</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<!-- SIZE SAISIE -->
<div class="inputForm">
  <label for="font-size">Select a font size: </label>
  <input
    id="font-size"
    [(ngModel)]="fontSize"
    placeholder="Font size"
    (ngModelChange)="changeSize(fontSize)"
  />
</div>

<!-- RADIO BUTTONS LAYOUT -->
<div class="inputForm">
  <mat-radio-group
    [(ngModel)]="selectedLayout"
    label="Select Layout"
    (ngModelChange)="setLayout(selectedLayout)"
  >
    Select layout:
    <mat-radio-button value="1">Left</mat-radio-button>
    <mat-radio-button value="2">Center</mat-radio-button>
    <mat-radio-button value="3">Right</mat-radio-button>
  </mat-radio-group>
</div>
